*{
    margin: 0;
    padding: 0;
}
li{
    list-style:none;
    line-height: 30px;
    font-size: 20px;
    color:#fff;
}
i{
    padding: 5px;
}
.nav-bar{
    min-width: 414px;
    height: 30px;
    background-color:#000;
    display: flex;
    justify-content: space-between;
}